:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

header {
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 25px;
  h1 {
    flex-grow: 1;
    margin-left: 20px;
  }
  button {
    margin-right: 40px;
    display: flex;
    align-items: center;
  }
  i {
    color: limegreen;
    font-size: 2rem;
    padding-top: 3px;
    padding-bottom: 5px;
    padding-right: 6px;
  }
}

div[canvas] {
  flex-grow: 1;
  div[board] {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow-x: auto;
    height: 100%;
    padding-left: 10px;
    &::after {
      content: '';
      height: 100%;
      flex: 0 0 10px;
    }
  }
  div[status-section] {
    width: 25%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 25px;
    background: #D8DCDB;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;

    div[status-section-title] {
      margin: 10px;
      font-size: 1em;
      color: #000000;
    }
  }
}

.sectionHighlight{
  transform: translate3d(-1px, -1px, 3px);
  box-shadow: 2px 2px 14px -3px black;
}
.cardHighlight{
  transform: translate3d(-1px, -1px, 3px);
  box-shadow: 6px 6px 14px -3px #808080;
}
