:host {
  //border: 1px solid black;
  background-color: white;
  box-shadow: 5px 5px 9px -6px #808080;
  padding: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}
div[name] {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1.2em;
}
div[description] {
  font-size: 0.9em;
}
