:host {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

div[status-section] {
  min-width: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 25px;
  background:#4da6ff;
  padding: 20px;

  div[status-section-title] {
    margin: 10px;
    font-size: 2em;
    color: white;
  }
}




.section {
  border: 1px solid black;
}
.card {
  border: 1px solid gray;
  display:inline-block;
  padding:2px 4px;
  margin:4px;
}

.sectionHighlight{
  border:solid 1px limegreen;
}
.cardHighlight{
  border:solid 1px skyblue;
}