/* You can add global styles to this file, and also import other style files */
html {
  overflow: hidden;
}
body{
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background: linear-gradient(to top right, #29D8F5, #2D1FD3, #6D18BA);
}
